html {
  background-color: rgb(73, 73, 73);
  /* background-image: url(/bg.jpeg);
  background-image: url(/b2.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
}

#form-container {
  flex: 1;
  padding: 20px;
}

#list-container {
  flex: 1;
  padding: 20px;
}

#loading {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

#list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 20px;
  background-color: wheat;
}
