@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

header img {
  background-color: black;

  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
}

.header-v2 {
  display: block;
  margin: 0px auto 0px;
  padding: 10px 0;
  width: 110px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #0099cc;
  border: none;
  position: absolute;
  bottom: 26px;
}

.slide {
  margin-top: 40%;
  animation: slideDown 3s ease 0.5s 1 normal forwards;
}

@keyframes slideDown {
  from {
    margin-top: 40%;
  }
  to {
    margin-top: 0;
  }
}
